<div class="container">

  <div class="row mt-5">
    <div class="col-12">
      <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Roll No.</th>
            <th>Wing id</th>
            <th>Room Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of alloc">
            <td>{{data.roll_no}}</td>
            <td>{{data.wing_id}}</td>
            <td>{{data.room_no}}</td>
            <td>
              <div class="row ">
                <div class="col-12 text-end">
                  <span class="m-1"></span>
                  <button class="btn btn-md btn-danger"><i class="bi bi-trash3-fill"
                      (click)="onDeleteClick(data.roll_no)"></i></button>
                  <!-- <span class="m-1"></span>
                  <button class="btn btn-md btn-warning"> <i class="bi bi-pencil"></i></button>
                  <span class="m-1"></span> -->
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>