<div class="container">

  <div class="row mt-5">
    <div class="col-12">
      <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Wing Id</th>
            <th>Total Numbers of Rooms</th>
            <th>Rooms Vacant</th>
            <!-- <th>Actions</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of wing">
            <td>{{data.wing_id}}</td>
            <td>{{data.total_rooms}}</td>
            <td>{{data.rooms_vacant}}</td>
            <!-- <td>
              <div class="row ">
                <div class="col-12 text-end">
                  <button class="btn btn-md btn-warning"> <i class="bi bi-pencil"></i></button>
                  <span class="m-1"></span>
                </div>
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>