<div class="container">

  <div class="row mt-5">
    <div class="col-12">
      <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Warden Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Wing Id</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of warden">
            <td>{{data.warden_id}}</td>
            <td>{{data.first_name}}</td>
            <td>{{data.last_name}}</td>
            <td>{{data.phone}}</td>
            <td>{{data.email}}</td>
            <td>{{data.salary}}</td>
            <td>{{data.wing_id}}</td>
            <td>
              <div class="row ">
                <div class="col-12 text-end">
                  <span class="m-1"></span>
                  <button class="btn btn-md btn-danger" (click)="onDeleteClick(data.warden_id)"><i
                      class="bi bi-trash3-fill"></i></button>
                  <!-- <span class="m-1"></span>
                  <button class="btn btn-md btn-warning"> <i class="bi bi-pencil"></i></button>
                  <span class="m-1"></span> -->
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>