<div class="container">
  <div class="row mt-5 p-5 pb-0">
    <div class="col-4 ">
      <a href="./student" style="text-decoration: none; ">
        <div class="card">
          <div class="card-header bg-success text-light text-center">
            <b>Student</b>
          </div>
          <div class="card-body">
            <div class="container">
              <h5 class="card-title text-center">View, Add, Update and Delete Students Details</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 ">
      <a href="./wing" style="text-decoration: none;">
        <div class="card">
          <div class="card-header bg-info text-center ">
            <b>Wing</b>
          </div>
          <div class="card-body">
            <div class="container">
              <h5 class="card-title text-center">View, Add, Update and Delete Wings Details</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 ">
      <a href="./warden" style="text-decoration: none;">
        <div class="card">
          <div class="card-header bg-danger text-light text-center ">
            <b>Warden</b>
          </div>
          <div class="card-body">
            <div class="container">
              <h5 class="card-title text-center">View, Add, Update and Delete Wardens Details</h5>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
  <div class="row p-5 pb-0">
    <div class="col-4 ">
      <a href="./alloc_rooms" style="text-decoration: none;">
        <div class="card">
          <div class="card-header bg-primary text-light text-center">
            <b>Allocated Rooms</b>
          </div>
          <div class="card-body">
            <div class="container">
              <h5 class="card-title text-center">View, Add, Update and Delete Allocated Rooms Details</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4 ">
      <a href="./unalloc_rooms" style="text-decoration: none; ">
        <div class="card">
          <div class="card-header bg-secondary text-light text-center">
            <b>Unallocated Rooms</b>
          </div>
          <div class="card-body">
            <div class="container">
              <h5 class="card-title text-center">View, Add, Update and Delete Unallocated Rooms Details</h5>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-4 ">
      <a href="./staff" style="text-decoration: none;">
        <div class="card">
          <div class="card-header bg-dark text-light text-center">
            <b>Staff</b>
          </div>
          <div class="card-body">
            <div class="container">
              <h5 class="card-title text-center">View, Add, Update and Delete Staff s Details</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row p-5 pb-0">
    <div class="col-4 ">
      <a href="./department" style="text-decoration: none;">
        <div class="card">
          <div class="card-header bg-warning  text-center">
            <b>Department</b>
          </div>
          <div class="card-body">
            <div class="container">
              <h5 class="card-title text-center">View, Add, Update and Delete Department Details</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
