<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Roll No.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Dept_id</th>
            <th>Parents Phone No.</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{student.roll_no}}</td>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.phone_number}}</td>
            <td>{{student.email}}</td>
            <td>{{student.dept_id}}</td>
            <td>{{student.Parents_phone}}</td>
            <td>
              <div class="row ">
                <div class="col-12 text-end">
                  <span class="m-1"></span>
                  <button class="btn btn-md btn-danger" (click)="onDeleteClick(student.roll_no)"><i
                      class="bi bi-trash3-fill"></i></button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>